body{
  background-color:#141414;
}
.body-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  }
h1{
    color: #f3e5d6;
    font-size: 15px;
}
#top {
    width: 100%px;  
    height: 130px;
    background-color: #1d1d1d;
    box-shadow: 2px 8px 94px 10px rgba(0,0,0,0.72);
-webkit-box-shadow: 2px 8px 94px 10px rgba(0,0,0,0.72);
-moz-box-shadow: 2px 8px 94px 10px rgba(0,0,0,0.72);
}
.chessg img {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 90px;
}
.username{
  position: absolute;
  top: 40px;
  left: 100px;
  transform: translateX(-50%);
  color: #f3e5d6 !important; /* Цвет текста */
  text-decoration: none; /* Убираем подчеркивание у ссылок */
  font-size: 30px;
  cursor:pointer;
}

.chessBoard {
  width:70vw;
  height: 70vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.square {
  width:12.5%;
  height: 12.5%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.white {
  background-color: #f3e5d6;
}
.black {
  background-color: #b58863;
}
.coordinate {
  height:auto;
  display:flex;
  bottom: 4%;
  left:4%;
  position: absolute;
  font-size: 12px;
  font-weight: bold;
}
.rank {
  top:4%;
  right:4%;
  left:auto;
}
.whiteText {
  color:#f3e5d6;
}
.blackText {
  color:#b58863;
}
.piece {
  width:100%;
  z-index: 1;
  cursor: pointer;
}
.piece img {
  max-width: 100%;
  width:100%;
  height: auto;
}

#alert {
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color:rgb(0, 176, 67);
  width:44vw;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size:xxx-large;
  font-weight: bold;
  z-index: 1000;
  display: none;

}
    

@media (min-width:600px) {
  .chessBoard {
      width:500px;
      height: 500px;
  }
}
@media (max-width:600px) {
  .coordinate {
    font-size: 8px;
  }
}

.promotionOption{
  border-radius: 50%;
  background-color: darkgray;
  transition: transform 0.2s;
  position: absolute;
  z-index: 1000;
}
.promotionOption:hover {
  cursor: pointer;
  border-radius: 0%;
  background-color:#539B0C;
  width: 100%;
}
.promotionOption img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

#evalBar{
  background-color:rgb(252, 246, 236);
  width:5%;
  height: 70vw;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#evalBar::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.container {
  display: flex;
}
#evalBar .blackBar {
  width: 100%;
  height: 35%;
  background: #303030;
  transition: height 1s;
  position: absolute;
  top: 0;
}
 .zero {
  width: 100%;
  opacity: 1;
  border-bottom: 5px solid rgba(214, 78, 0, 0.51);
  position: absolute;
  top: 0;
  height: 50%;
}
.evalNum {
  width: 100%;
  opacity: 1;
  position: absolute;
  top: 95%;
  height: 50%;
  font-size: 0.5rem;
  font-weight: bolder;
  text-align: center;
  color: #be752b;
}
.logout-button a {
  position: absolute;
  top: 40px;
  left: 1810px;
  transform: translateX(-50%);
  color: #f3e5d6 !important; /* Цвет текста */
  text-decoration: none; /* Убираем подчеркивание у ссылок */
  font-size: 30px;
}
.logout-button a:hover {
  color: #f3e5d6 !important; /* Цвет при наведении */
}

.logout-button a:active {
  color: #f3e5d6 !important; /* Цвет при нажатии */
}

.logout-button a:visited {
  color: #f3e5d6 !important; /* Цвет после посещения */
}
#topLines {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background-color: whitesmoke;
  border-spacing: 0px;
  max-width: 80vw;
  overflow: hidden;
  -webkit-box-shadow: 5px 7px 65px -26px rgba(0, 0, 0, 1);
-moz-box-shadow: 5px 7px 65px -26px rgba(0, 0, 0, 1);
box-shadow: 5px 7px 65px -26px rgba(0, 0, 0, 1);
}
.chessgif img {
  position: absolute;
  top: 20%;
  left: 7%;
}
#topLines td {
  border-collapse: collapse;
  padding: 8px;
  font-size: 17px;
  white-space: nowrap;
  width: 100%;
  text-align: left;
}
#topLines th {
  padding: 8px;
  text-align: left;
}

#topLines td,#topLines th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
}
#line1,#line2,#line3{
  min-width: 500px;
}
#eval1,#eval2,#eval3{
  min-width: 40px;
}
tr{
  height: 40px;
}
#topLines thead {
  background-color: #7a5b41;
  color: #f3e5d6;
}
#topLines tbody tr:nth-child(odd) {
  background-color: #ded1c3;
}
#topLines tbody tr:nth-child(even) {
  background-color: #f3e5d6;
}
@media (min-width:600px) {
   #evalBar{
      height: 500px;
  }
}